<html lang="en">

<head>
    <title>Allowlist App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="static/allowlist.css" />
    <script src="static/allowlist.js"></script>
</head>

<body>
    <main>
        <h1 id="TITLE">Allowlist App</h1>
        <form action="/authenticate/" method="POST">
            <div>{% if hide_username %}style="display: none;"{% endif %}
                Username:<br><input type="text" name="username">
            </div>
            Password:<br><input type="password" name="password">
            <br><br><input type="submit" value="Authenticate">
        </form>
        <p id="CONNECTION_TEST"></p>
    </main>
</body>

</html>