<html lang="en">

<head>
    <title>Allowlist App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="static/zy.css" />
</head>

<body>
    <main>
        <h1 id="TITLE">Allowlist App</h1>
        <form id="AUTH_FORM">
            <div {% if hide_username %}style="display: none;" {% endif %}>
                Username:<br><input type="text" name="username">
                </div>
                Password:<br><input type="password" name="password">
                <br><br><input type="submit" value="Authenticate">
        </form>
        <div id="CONNECTION_TEST"></div> <a id="REDIRECT" style="display: none;" href="{{ redirect_url }}">Continue to
            site</a>
    </main>
</body>

<script src="static/allowlist.js"></script>

</html>
